@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500;700&family=Poppins:wght@600;700&family=Raleway:wght@400;500;700&display=swap');


body{
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    font-family: "raleway";
}
/* whole sections */
section {
    /* padding to the top and bottom */
    padding: 40px 0;
}

/************************************** HERO SECTION ***************************** */
.name-title{
    font-family: "Frank Ruhl Libre" ;
    font-weight: 600;
}
.cta-btn{
    background-color: #284B63 !important;
    color: #fff !important;
    border: 2px #284B63 solid !important;
    font-weight: 500;
    border-radius: 0;
}
.profile-pic{
    border-radius: 10px;
}

/* navbar */
.navbar-brand{
    font-weight: 500;
    font-family:Frank Ruhl Libre ;
    color: white;
    font-size: 1.4rem;
}
.navbar-brand span{
    color: rgb(255, 255, 255);
}


#color {
    background-color: #284B63 !important;
}

#hover a:hover {
    background-color: #D9D9D9;
}

/* styling the intro section */
#p-font {
    color: #284B63;
}

.round-border {
    border-radius: 1rem;
}

.flex-projects {
    display: flex;
    flex-wrap: wrap;
}

/* icons */
li{
    list-style: none;
}

.li-color {
    color: white !important;
}

.page-title {
    border-radius: 1rem;
}

.title {
    color: #284B63;
    font-weight: 400;
}

.card-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.card-shadow:hover {
    background-color: #eeeeee;
}


/* ******************** FOOTER SECTION *********************** */
footer{
    padding: 0.8rem;
    /* position:sticky; */
    width: 100%;
    bottom: 0;
}